# Node Modules
node_modules/

# Expo
.expo/
.expo-shared/

# System Files
.DS_Store
.Trash/
*.swp
*.swo
*.lock

# IDEs and Editors
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log

# Environment Files
.env
.env.*.local

# Bundled Files
.bundle/
dist/
build/

# macOS-specific
*.DS_Store
.AppleDouble
.LSOverride

# npm
package-lock.json

# Other
*.log
